.card-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.blog-card {
    background-color: var(--color-white);
    color: var(--color-secondary);
    width: 50vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 20px;
}

.blog-card a:link {
    color: var(--color-primary);
}

.blog-card a:visited {
    color: darkgreen;
}